$colors: (
    primary: #22649b,
    secondary: #c01933,
    contrast: #083353,
    highlight: #739ac4,
    calm: #5f6e82,
    balanced: #c0c0c5,
    danger: #991932,
    good: #009900,
    white: #fff,
    light: #f5f5f5,
    stable: #ccc,
    medium: #999,
    dark: #666,
    coal: #444,
    black: #000
);
