$colors: (
  primary: #198513,
  secondary: #ffe500,
  contrast: #015d01,
  highlight: #fffd38,
  calm: #9aca28,
  balanced: #b0e631,
  danger: #cc0000,
  good: #339900,
  white: #fff,
  light: #f5f5f5,
  stable: #ccc,
  medium: #999,
  dark: #666,
  coal: #444,
  black: #000
);

