screen-detailsexpensify2-phoneportrait {
    ion-list ion-item.item {
        
        ion-label {
            font-size: 14px; 
            white-space: normal;
        }
    }

    ion-list ion-item.item.inset {
        background-color: #ffffff;
        margin: 10px;
        width: calc(100% - 20px);

        ion-label {
            color: #000000;
        }
    }
    
    .comment {
        textarea.text-input {
            height: 300px;
        }
    }
}
